.finishedQuiz {
    padding: 20px;
    color: #f1e9e9;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 50px 0 10px 10px;
}

.finishedQuiz ul {
list-style: none;
    padding: 0;
    margin: 0;
}

.finishedQuiz ul li i {
    margin: 5px 10px;
}

.finishedQuiz.error {
    color: red;
}

.finishedQuiz.success {
   color: #0be00b;
}