.AnswerItem {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.AnswerItem:hover {
    background: #cccccc50;
}

.AnswerItem.Success {
    background: #0be00b;
}

.AnswerItem.Error {
    background: #be1515;
}